<div class="articles">
    <% news.articles.forEach(function(article) { %>
        <section class="item" style="background-image:url(<%= article.urlToImage %>)">
            <div class="content">
                <h5><%= article.title %></h5>
                <p><%= article.source.name %></p>
                <a href="/auth/signup">Sign Up</a>
            </div>
        </section>
    <% }) %>    
</div>