<div class="container">
    <div class="link">
        <a class="pageNav" href="/explore">Explore</a>
    </div>
    <div class="link">
        <a class="pageNav" href="/auth/signup">Sign Up</a>
    </div>
</div>