
<div class="data">
    <form class="nameForm" method="POST" action="/user/profile/?_method=PUT">
    <label>Change Username</label>
    <input type="text" name="name" class="name" placeholder="Enter name...">
    <input type="submit">
    </form>
</div>