<div class="welcome">
    <p>Welcome, <%- currentUser.name %></p>
</div>

<div class="container">
        <div class="link">
            <a href="/list">List</a>
        </div>
        <div class="link">
            <a href=/articles>Articles</a>
        </div>
</div>