html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    font-family: "Old Standard TT", "serif";
}

header {
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-bottom: 0;
    height: 4em;
    vertical-align: middle;
    top: 0;
}

h1 {
    font-size: 3.5em;
}

nav {
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-decoration: none;
    height: 2em;
    bottom: 0;
}

a {
    position: relative;
    bottom: 0;
    margin: 1em;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    margin: .5em 9em;
}

.link {
    height: 40%;
    width: 45%;
    text-align: center;
    margin: 4em 2em;
    padding-top: 5em;
    font-size: 2em;
    background-color: rgba(0,0,0,0.5);
}

.link:hover {
    border: 1px solid black;
}

.articles {
    display: flex;
    height: 240vh;
    width: 82vw;
    margin: 0 5em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    margin: 0 auto;
}

.item {
    width: 14vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-size: 28vh;
    background-size: cover;
    margin: 1em;
    color: white;
}

.content {
    height: 70%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.contents {
    height: 70%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.list {
    display: flex;
    height: 170vh;
    width: 82vw;
    margin: 0 5em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center; 
    vertical-align: top;
    margin: 0 auto;
    margin-top: 1em;
}

.listItems {
    display: flex;
    height: 16%;
    width: 95%;
    margin: 1em;
    padding: .5em;
    border: 1px solid black;
}

.listImg {
    height: 100%;
    width: 25%;
}

.img {
    height: 100%;
    width: 80%;
}

.listInfo {
    text-align: left;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.read {
    text-decoration: none;
    color: black;
    font-size: 1em;
    border: 1px solid black;
}

.data {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5em 20em;
}

.nameForm {
    height: 10vh;
    width: 25vw;
    font-size: 1.5em;
}

.name {
    height: 5vh;
    width: 25vw;
    font-size: 1.5em;
    margin: 1em 0;
}

.form-group {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5em 20em;
}